.header {
  display: flex;
  align-items: center;
  background: #d8b9fc;
  padding: 10px;
  height: 50px; /* Increase height */
  width: 100%; /* Ensure full width */
}

.title {
  font-size: 19px;
  font-weight: bold;
  white-space: nowrap; /* Prevents text from wrapping */
}

.logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-right: 10px;
}

nav {
  margin-left: auto;
}

.tab {
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 15px;
}
